body {
  padding: 0;
  margin: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

html, body, .container, #map {
  height: 100%;
  width: 100%;
}

#map {
  zoom: 1.5;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
}

/* AddAddressButton: */

.AddAddressButton {
  display: flex;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  background: #3F4DAB;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
  margin: 1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -38px;
}

/* Locator */

.locator {
  width: 50px;
  height: 50px;
  background-color: #3F4DAB;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -25px 0 0 -25px;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;

  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
}

/* Loading */

.Loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Loading p {
  font-size: larger;
  font-weight: 500;
}

.spinner {
  width: 200px;
  height: 200px;
  background-color: #3F4DAB;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Error */

.Error {
  color: #fff;
  background-color: #3F4DAB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.Error img {
  /*width: 50%;*/
}

.Error > div {
  font-size: xx-large;
}

.Error p {
  font-size: large;
}
